/* Residence title */
.topBackground {
	background: linear-gradient(#60DAEB, #F7FDFF);
}

.topBackground h1 {
	color: #35404f;
	font-family: 'Open Sans', sans-serif;
	font-size: 86px;
	font-style: oblique;
}

/* Modals */
.modal-footer {
  background-color: #f9f9f9;
}

.modal-dialog h4, .close {
      color:white !important;
      text-align: center;
      font-size: 28px;
  }

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#LineHeader, #LoginHeader {
  background-color: green;
}

/* Report modal */
#reportHeader {
  background-color: red;
}

/* Queue table */
#queueTable button{
  padding: 0; 
  border: none;
  background: none;
}

