
   		
<div class="about" >
	<!-- About title -->
   		<div style="height:210px; width:100%; color:#35404f;background-image:url(img/machines.jpg)">
   			<h1 style="text-align:center; padding-top:250px;"> <strong>About us </strong></h1>
   		</div>

   		<!-- Description about us -->
   		<div style="height:200px; width:100%; ">
   			<p style="text-align:center; padding-top:120px;"> LaundryTime, a website of more than 1 million students can use the laundry service of their residence. </p>
   		</div>
   		
   		<!-- Authors title -->
   		<div style="height:80px; width:100%; color:#35404f">
   			<h2 style="text-align:left;  padding-left:100px; "> Authors </h2>
   		</div>
   		<!-- Description authors -->
   		<div style="height:100px; width:100%; ">
   			<p style="text-align:justify; padding-left:115px; padding-right:115px;"> <b>Daniel Carballal</b>, <b>Stefan Dierauf</b>, 
   			<b>Carla Diví</b> and <b>Germán García </b>
   			are exchange students of Kungliga Tekniska Högskolan (KTH) and this website is a project from one course 
   			for Master of Computer Science: Interaction Programming and Dynamic Web. This project is an opportunity 
   			to practice the basics of well-architected GUI programming by practicing the Model-View-Controller paradigm 
   			on a larger task that includes real data and persistence. Also for practice interactive software development 
   			in a group and reflect on the experience.<p>
   		</div>
   		<!-- Description authors individual -->
   		<table width="1100" border="0"  align="center" >
			<tr>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/daniel.jpg" alt="Daniel Carballal" height=160 width=200 />
					<br />
					<b>Daniel Carballal</b> <br>
					Daniel Carballal is a student from University of Illinois at Urbana-Champaign(USA). He was born in Madrid(Spain) 6 of October of 1995, but he grew up in Urbana(Illinois, USA).
				</td>
			
				<td align="center" valign="center"  style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/stefan.jpg" alt="Stefan Dierauf" height=160 width=200 />
					<br />
					<b>Stefan Dierauf</b> <br>
					Stefan Dierauf is a student from University of Washington(USA). He was born in Portland(Oregon, USA) 28 of October of 1993.
				</td>
				
				<td align="center" valign="center"  style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/carla.jpg" alt="Carla Diví" height=160 width=200/>
					<br />
					<b>Carla Diví</b> <br>
					Carla Diví is a student from FIB-UPC(Facultat d'informàtica de Barcelona - Universitat Politècnica de Catalunya) from Barcelona(Spain).
					She was born in Barcelona(Spain) 25 of July of 1994.
				</td>
				
				<td align="center" valign="center"  style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/german.jpg" alt="Germán García" height=160 width=200/>
					<br />
					<b>Germán García</b> <br>
					Germán García is a student from UPV(Universitat Politècnica de València) from Valencia(Spain). He was born in València(Spain).
				</td>
			</tr>
		</table>
		
   		<!-- Semester -->
   		<div style="height:200px; width:100%; color:#000000;  padding-top:100px" >
   			<h4 style="text-align:center; "> P1 Spring semester 2016</h4>
   		</div>

