<div class="explanationMachines" >
	

	<!-- Washing Modes title -->
   		<div style="height:210px; width:100%; color:#35404f; background-image:url(img/machines.jpg)">
   			<h1 style="text-align:center; padding-top:250px;"> <strong>Washing Modes</strong></h1>
   		</div>
   		</body>

   		<!-- Description washing machines -->
   		<div style="height:200px; width:100%; ">
   			<p style="text-align:center; padding-left:250px; padding-right:250px; padding-top:120px;"> Sometimes is so complicated understand how work some washing machine! Imagine the explanation in
   			some language that you don't understand. Impossible, frustrating..! But don't worry we can help you! You will just have to looking for your type machine
   			and you can start to wash your clothes!  </p>
   		</div>
   		
   		<!-- Types -->
   		<div style="height:80px; width:100%; color:#35404f">
   			<h2 style="text-align:left;  padding-left:100px; "> Washing Machine Types </h2>
   		</div>
   		
   		<!-- Description machines individual -->
   		<table width="1000" border="0"  align="center" >
			<tr>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/machine1.jpg" alt="Machine 1" height=160 width=200 />
				</td>
				
				<td style="text-align:justify; padding-left:50px; padding-right:70px">This machine is the basic and typical machine. First of all you should introduce your laundry inside, 
				after that you can insert the soap (liquid soap or soap powerds both of them work correctly) in the left box. When 
				you finish this process, you should to choose which program do you want with turning the right wheel. There 
				are some different options. Depending on your type of clothes that you introduce in the machine you 
				should choose the program (if you need help with the different programs you can see on the bottom of this 
				page). When you had chosen your program you can add some characteristics like speed, more water, change the temperature or 
				time.</td>
			</tr>
			<tr>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/machine2.jpg" alt="Machine 1" height=160 width=200 />
				</td>
				
				<td style="text-align:justify; padding-left:50px; padding-right:70px">This machine is a little bit different than the first machine. First of all you should introduce your laundry inside, 
				after that you can insert the soap (liquid soap or soap powerds both of them work correctly) in the left box. When 
				you finish this process, you should to choose which program do you want but in this machine you can choose the program with 
				the buttons not with a wheel. There	are some different options. Depending on your type of clothes that you introduce in the machine you 
				should choose the program (if you need help with the different programs you can see on the bottom of this 
				page). In this machine you choose all of the characterustics with the buttons, temperature, time, ...</td>
			</tr>
		</table>
		
		
		<!-- Types programs-->
   		<div style="height:80px; width:100%; color:#35404f">
   			<h2 style="text-align:left;  padding-left:100px; padding-top:50px ">Programs Types </h2>
   		</div>
   		
   		<!-- Description programs individual -->
   		<table width="1100" border="0"  align="center" >
			<tr>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/dark.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				<td> + </td>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/cold.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				
				<td style="text-align:justify; padding-left:50px; padding-right:70px">The dark clothes should be wash with cold water because it can fade.
				Also the jeans and trousers are better to wash with cold water for keep the real color. </td>
			</tr>
			<tr>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/white.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				<td> + </td>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/hot.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				
				<td style="text-align:justify; padding-left:50px; padding-right:70px">The white or light clothes can be wash with hot water, but be careful not only
				depends with the color! The weave is important because the bool or some cotton clothes
				can't be wash with hot water because the clothes be shrink.</td>
			</tr>
			
			<tr>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/towels.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				<td> + </td>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/hot.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				
				<td style="text-align:justify; padding-left:50px; padding-right:70px">The towels and bed sheets should wash with a hot water not less than 60
				because you should to disinfect correctly this types of clothes that you use everyday.
				The sports clothes too.</td>
			</tr>

			<tr>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/shirts.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				<td> + </td>
				<td align="center" valign="center" style="padding:15px">
					<img class="img-thumbnail img-circle center-block" src="img/handwash.jpg" alt="Machine 1" height=160 width=180 />
				</td>
				
				<td style="text-align:justify; padding-left:50px; padding-right:70px">The shits and other special clothes should be wash with
				a special program, like handwashing program or some other program. </td>
			</tr>
			
		</table>
		


		<!-- Other symbols-->
   		<div style="height:80px; width:100%; color:#35404f">
   			<h2 style="text-align:left;  padding-left:100px; padding-top:50px "> Symbols </h2>
   		</div>
   		 <div align="center">

   			<img src="img/symbols.jpg" height=660 width=680/>
   		</div>