<!-- For styling
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
-->

<!-- Header view -->
    <div class="container">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Title -->
          <div class="navbar-header">
            <a class="navbar-brand" style="color: white"><b>Time2Laundry</b></a>
          </div>
          <!-- Left Menu -->
          <ul class="nav navbar-nav">
            <!-- Residences -->
            <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown"> Residences
               <span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a href="#residence/farsta">Farsta</a></li>
                  <li><a href="#residence/bjorksatra">Bjorksatra</a></li>
                  <li><a href="#residence/tyreso">Tyreso</a></li> 
                  <li><a href="#residence/lappis">Lappis</a></li> 
               </ul>
            </li>

            <!-- Whasing Machine Modes -->
            <li><a href="#/home">
            <span class="glyphicon glyphicon-tint"></span> Washing Modes</a></li> 
          </ul>

         <!-- Right Menu -->
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">About Us</a></li>
         </ul>
          
        </div>
      </nav>
      <!-- endNavigationBar -->
    </div>

<!-- 
Last Update Ger: 
This file should be deleted. 
-->
