<div class="modalClass">
 
 <div class="img-rounded">
  <!-- Report Modal  -->
  <div id="reportModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <!-- Header -->
          <div id="reportHeader" class="modal-header" style="padding:15px 30px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Report Problem for {{currentResName}}</h4>
          </div>
          <!-- Body -->
          <div class="modal-body" style="padding:35px 50px;">
            <form role="form">
              <!-- inputEmail -->
              <div class="form-group">
                <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                <input type="text" class="form-control" id="usrname" placeholder="Enter email"
                ng-model="modalFactory.userInfo.email">
              </div>
              <!-- problemSelector -->
              <div class="form-group">
                <label for="problem"><span class="glyphicon glyphicon-cog"></span> Problem </label>
                <select class="form-control" name="problemsSelect" ng-model="modalFactory.reportSelector.selected" ng-Change="reportModSelChanged()">
                  <option value="1"> The machine doesn't work. </option>
                  <option value="2"> Someone has stolen the whaser. </option>
                  <option value="3"> There is a monster staring at me. </option>
                  <option value="4"> I'm just bored. </option>
                  <option value="5"> Other... </option>
                </select>
              </div>
              <!-- textInput -->
              <div id="reportFormDescription" class="form-group" ng-show="modalFactory.reportSelector.show">
                <label for="problemDescription"> Which is the problem? </label>
                <input type="text" class="form-control" 
                name="problemDescriptionText" ng-model="modalFactory.reportSelector.description">
              </div>
              <!-- error text -->
              <ng-include src="'templates/errorText.html'" ng-controller="modalCtrl"></ng-include>
            </form>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()" style="width: 20%;">Close</button>
            <button type="button" class="btn btn-danger" ng-click="reportProblem()" style="width: 20%;">Report</button>
          </div>
        </div>
      </div>
    </div> 

    <!-- Log in Modal -->
    <div id="LoginModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Header -->
          <div id="LoginHeader" class="modal-header" style="padding:15px 30px;">
            <h4 class="modal-title">Small Step</h4>
          </div>
          <!-- Body -->
          <div class="modal-body" style="padding:35px 50px;">
           <form name="loginForm">
            <!-- inputEmail -->
                <div class="form-group" id="LoginEmailForm">
                    <!-- email -->
                    <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                    <input type="email" class="form-control" id="usrname" placeholder="Enter email"
                    ng-model="modalFactory.userInfo.email" ng-change="saveUserCookies()" required>
                </div>
                <center><p> We will send you an email when it's your turn.</p></center>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" id="LoginPinForm">
                      <!-- PIN -->
                      <label for="pin"><span class="glyphicon glyphicon-lock"></span> PIN</label>
                      <input type="password" class="form-control" inputmode="numeric" maxlength="4" ng-model="modalFactory.userInfo.pin"></input>
                    </div> 
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="form-group" id="LoginTimeForm">
                      <!-- PIN -->
                      <label for="pin"><span class="glyphicon glyphicon-time"></span> Estimated time (min)</label>
                      <input type="number" class="form-control" inputmode="numeric" ng-model="modalFactory.userInfo.estimated_time"></input>
                    </div> 
                  </div>
                </div>

                <!-- error text -->
                <ng-include src="'templates/errorText.html'" ng-controller="modalCtrl"></ng-include>
           </form>
          </div><!-- end modal Body -->

          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" style="width: 20%" data-dismiss="modal" ng-click="close()">Close</button>
            <button type="button" class="btn btn-success" style="width: 20%" data-target="#LineModal" ng-click="validateLogin();"> Ok </button><!-- end modal Footer -->
          </div>
  
         </div>
      </div>
    </div> 

    <!-- Get in Line modal -->
    <div id="LineModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" >
          <!-- Header -->
          <div id="LineHeader" class="modal-header" style="padding:15px 30px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Queue</h4>
          </div>
          <!-- Body -->
          <div class="modal-body" style="padding:5px 10px;">
              <!-- QUEUE CONTENT -->
            	<div id="queueTable" style="height:300px; overflow-y: scroll;">
                <p ng-show="modalFactory.machine.activeJob.minutes">
                  There is a job running for {{modalFactory.machine.activeJob.minutes}} more minutes
                </p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Estimated wait</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="Object.keys(modalFactory.machine.activeJob).length > 0">
                      <td>{{modalFactory.machine.activeJob.user}}</td>
                      <td>{{modalFactory.machine.activeJob.minutes}}</td>
                      <td>ACTIVE JOB</td>
                      <td><button ng-click="showDeleteUser(modalFactory.machine.activeJob.user)">&#10006;</button></td>
                    </tr>
                    <tr ng-repeat="obj in modalFactory.machine.queue">
                      <td>{{obj.user}}</td>
                      <td>{{obj.minutes}}</td>
                        <td ng-show="$index == 0"><a class="btn btn-warning" ng-click="showDequeueUser(obj.user)">My Turn!</a></td>
                        <td ng-show="$index != 0"><a></a></td>

                      <td><button ng-click="showDeleteUser(obj.user)">&#10006;</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="width: 20%" data-dismiss="modal" ng-click="close()"> Ok </button>
          </div>
        </div>
      </div>
    </div> 
  
  <div id="AddModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
          <!-- Header -->
          <div id="LineHeader" class="modal-header" style="padding:15px 30px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a machine</h4>
          </div>

          <div class="modal-body" style="padding:35px 50px;">

          </div>

        </div>
      </div>
   </div> <!-- endModalsDiv -->

   <!-- deleteUserModal -->
   <div id="DeleteModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- Header -->
          <div id="DeleteHeader" class="modal-header" style="padding:15px 30px;">
            <h4 id="deleteTitle" class="modal-title">Delete</h4>
          </div>
          <!-- Body -->
          <div class="modal-body" style="padding:35px 50px;">
           <form name="DeleteForm">
            <div class="form-group" id="deletePinForm">
              <p>You're going to delete <b id="deleteUserEmail"></b> from the queue.</p>
              <!-- PIN -->
              <label for="pin"><span class="glyphicon glyphicon-lock"></span> PIN</label>
              <input type="password" class="form-control" inputmode="numeric" maxlength="4" ng-model="userToBeDeleted.pin"></input>
            </div>
            <!-- error text -->
            <ng-include src="'templates/errorText.html'" ng-controller="modalCtrl"></ng-include>
           </form>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" style="width: 30%" data-dismiss="modal" data-toggle="modal" data-target="#LineModal" ng-click="close()"> Cancel </button>
            <button type="button" class="btn btn-danger" style="width: 30%" ng-click="deleteUser()"> Delete </button>
          </div>
         </div>
      </div>
    </div> 

    <!-- deleteUserModal -->
   <div id="DequeueModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- Header -->
          <div id="DeleteHeader" class="modal-header" style="padding:15px 30px;">
            <h4 id="deleteTitle" class="modal-title">Dequeue</h4>
          </div>
          <!-- Body -->
          <div class="modal-body" style="padding:35px 50px;">
           <form name="DequeueForm">
            <div class="form-group" id="dequeuePinForm">
              <p>You're going to dequeue <b id="dequeueUserEmail"></b> from the queue.</p>
              <!-- PIN -->
              <label for="pin"><span class="glyphicon glyphicon-lock"></span> PIN</label>
              <input type="password" class="form-control" inputmode="numeric" maxlength="4" ng-model="userToBeDeleted.pin"></input>
            </div>
            <!-- error text -->
            <ng-include src="'templates/errorText.html'" ng-controller="modalCtrl"></ng-include>
           </form>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" style="width: 30%" data-dismiss="modal" data-toggle="modal" data-target="#LineModal" ng-click="close()"> Cancel </button>
            <button type="button" class="btn btn-danger" style="width: 30%" ng-click="dequeueUser()"> Dequeue </button>
          </div>
         </div>
      </div>
    </div> 
    <!-- end DeleteUserModal -->

  </div><!-- bordersRounded -->
</div> <!-- endResiDiv -->
