<!-- Partial of the residence Overview -->
<div class="residence">
  <!-- Residence title -->
  <div class="topBackground" style="height:200px; width:100%;">
    <h1 style="text-align:center; padding-top:75px;"> {{currentResName}} </h1>
  </div>

  <!-- Washing machines -->
  <div class="row" style="padding-top:50px">
    <div class="col-md-3 washer_holder" style="border: 1px solid black" ng-repeat="machine in currentMachines">
      <div class="row" style="text-align: center;"> <h3> {{machine.name}} </h3> </div>
      <div class="row">
        <div class="col-md-6">
          <p style="text-align: center; font-family:verdana;"> Queue: </p>
          <div class="row" id="queue-info">
            <p style="text-align: center"> {{machine.queue.length}}/12 </p>
            <a class="btn" id="arrow{{machine.name}}" style="text-align:center" ng-click="togglePersonsList(machine.name)"> V </a> 
          </div>
        </div>
        <div class="col-md-6">
          <p style="text-align: center; font-family:verdana;"> Time approx: </p>
          <div class="row" id="queue-info">
            <p style="text-align: center"> {{machine.queue_time}} min </p>
          </div>
        </div>
      </div>
      <div id="queueView{{machine.name}}"></div>
      <div class="row" style="width: 100%">
        <img style="width: 100%" src="img/washing_machine_full.jpg">
      </div>
      <div class="row">
        <button class="btn btn-success" style="width: 100%"
        data-toggle="modal" data-target="#LoginModal"
        ng-click="sendToModalFactory(machine.name)">Get in line</button>
      </div>
      <div class="row">
        <button class="btn btn-danger" style="width: 100%" 
        data-toggle="modal" data-target="#reportModal"
        ng-click="sendToModalFactory(machine.name)">Report Problem</button>
      </div>
    </div>
  </div>

<ng-include src="'templates/modal.html'" ng-controller="modalCtrl"></ng-include>

</div>
