<!--
<ng-include src="'templates/header.html'"></ng-include>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<title> Welcome! </title>
</head>
<body>
-->
<div id="welcomeView">
	<div class="row">
		<h1 class="text-center">Washing Machine Time</h1>
	</div>
	<div class="row" style="margin-top: 50px">
		<div class="col-md-3 col-md-offset-2">
			<img src="../img/washing_machine_full.jpg">
		</div>
		<div class="col-md-4 col-md-offset-2">
			<h5 style="font-family: 'Courier New'"> Welcome to the future of washing machines!</h5><br><br>
			<h5 style="font-family: 'Courier New'"> Choose your residence to continue </h5>
			<div class="row">
				<button class="btn btn-primary">Farsta</button>
				<button class="btn btn-primary">Bjorksatra</button>
				<button class="btn btn-primary">Tyreso</button>
				<button class="btn btn-primary">Lappis</button>

			</div>
		</div>
</div>
<!--
</body>
</html>
-->

<!--
Last updated Ger: 
I've moved the navigation bar to index, so we don't need to include it here. 
Further, I've removed unnecessary code here (body, head and html tags) 
-->
